/* !新增首頁 */
.home-banner{
    position: relative;
    height: 100vh;
  }
  .cut{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    clip-path: inset(0);
   
    display: flex;
    justify-content: center;
    align-items: center;
  
  }
  .home-banner-bg{
    position: fixed;
    top: 18px;
    left: 0;
    width: 100%;
    height: 100vh;
    background-image: url(../../images/home-banner-top.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
   
  }

.home-banner-box{
    /* background-color:rgba(255,255,255,0.2); */
    padding: 24px;
    text-align: center;
    /* transform: translateX(-20%); */
}
.home-banner-box :first-child{
    font-size: 64px;
    color: #eacda2;
    font-family: "Platypi", serif;
    margin-bottom: 40px;
}
.home-banner-box :last-child{
    color: #ffffff;
    font-size: 18px;
    font-family: "Zen Kaku Gothic New", sans-serif;
    line-height: 1.5;
    text-shadow: 2px 2px 4px #2d2a2a;
}

/* ! home セール開催中  */
.sale-msg p{
    text-align: center;
    background-color: #f6d17c;
    color: #332c29;
    
    padding: 12px;
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 500;
    
}
.sale-msg span{
    display: inline-block;
    padding-left: 16px;
    color: #f17414;
}




/* ! 搜尋 page */
.search-msg{
    margin-top: 70px;
}
.search-msg p{
    text-align: center;
    background-color: #fff;
    color: #332c29;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 400;
    
}
.search-msg .search-resule{
    display: inline-block;
    color: #E25E3E;
    padding-left: 12px;
    padding-right: 12px;
}
.search-msg .user-input{
    display: inline-block;
    padding-left: 8px;
    padding-right: 8px;
}

.search-body{
    min-height: 100vh;
    /* background-color: #f4f1e7; */
    /* background-color: #EADBC8; */
    background-color: #F5EEE6;
}

/* ! */

.product-image{
    width: 100%;
    border-radius: 5px 5px 0 0;
    transition: all .3s ease;
    vertical-align: middle;
}

.product-block{
    background-color: white;
    border: 1px #e2d5c9 solid ;
    border-radius: 5px;
    transition: all .3s ease;
}
.product-block :hover .product-image{
    transform: scale(1.1);
}

.product-text{
    padding:24px 12px;
    word-break: break-all; 
    
}

/* .product-information{
    margin-top:12px;
} */

.product-name{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    font-weight: 500;
    font-size: 16px;
    height: 56px;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 1.3;
    /* border: #CB4042 1px solid; */
}

/* !成功加入購物車 */
.add-success{
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    padding: 9px 14px;
    border-radius: 18px;
    
    border: #fbd36d 1px dotted;
    background-color: #fbf3c5;
    transition: opacity 1s ease;
    opacity: 0;
}

/* .hidden-element {
    opacity: 0;
    transition: opacity 2s ease;
} */
  
.visible-element {
    opacity: 1;
}

.check-icon{
    
    color: #518230;
}

.add-success-p{
    color: #747264;
    font-size: 14px;
    margin-left: 12px;
}


.discount-price{
    font-weight: 600;
    font-size: 20px;
    color: #CB4042;
    /* word-break: break-all; */
}


.origin-price{
    font-weight: 200;
    font-size: 16px;
    color: gray;
    text-decoration: line-through;
}



/* !商品區 */
.product-BG{
    background-color: #f4f1e7;
    background-color: #F5EEE6;
}
.product-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 56px;
    column-gap: 28px;
    padding-bottom: 140px;
    padding-top: 100px;
}

.product-image-row{
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.product-price-row{
    /* height: 55px; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: "M PLUS 1p", sans-serif;
}


.product-discount{
    color: white;
    background-color: #cb6948;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 16px;
    font-family: "M PLUS 1p", sans-serif;
    padding: 12px 16px;
    font-weight: 700;
    
}
/* !加入購物車 */
.add-to-cart{
    width: 30%;
    background-color:#eac162;
    padding:6px 18px;
    border-radius: 5px;
    cursor: pointer;
}
.add-to-cart img{
    width: 100%;
    object-fit: cover;
    vertical-align: middle;
}

/* !new banner */
.main-content{
    display: flex;
    height: 60vh;
}

.main-content-msg{
    width: 45%;
    font-family: "Zen Kaku Gothic New", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 2;
    text-align: center;
    padding: 30px;
}
.main-content-img{
    width: 55%;
}
.main-content-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: middle;
}
.group1 .main-content-msg{
    background-color: #eacda2;
}
.group2 .main-content-msg{
    border-right: 8px #eacda2 solid;
}


/* !footer */

.favorite-banner{
    height: 40vh;
    width: 100%;
    background-image: url(../../images/pexels-photo-7.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.8;
    transition: all .3s ease;
}
.favorite-banner:hover{
    opacity: 1;
}
.favorite-banner p{
    
    font-size: 36px;
   
    font-family: "M PLUS 1 Code", monospace;
    color: #fff;
    padding: 36px;
}



.footer-banner{
    padding: 8px;
    background-color: #AF8260;
}
.footer-banner p{
    text-align: center;
    padding: 24px;
    color: #ffffff;
    font-family: "Platypi", serif;
    font-family: "M PLUS 1 Code", monospace;
    font-size: 26px;
    border: 2px solid #fff;
   
}
.footer-banner .copyright{
    font-size: 14px;
    color: #fff;
}



@media (max-width:992px){
    .product-grid{
        grid-template-columns: 1fr 1fr 1fr ;
    }
}

@media (max-width:767px){
    .search-msg{
        margin-top: 100px;
    }
    .product-grid{
        grid-template-columns: 1fr 1fr ;
        column-gap: 14px;
        padding-bottom: 80px;
        padding-top: 70px;
    }
    .product-discount{
        font-size: 14px;
    }
    .product-name{
        font-size: 14px;
    }
    .add-to-cart{
        width: 74px;
    }
    .add-success{
        padding: 4px;
        border-radius: 6px;
    }
    .add-success p{
        font-size: 12px;
    }
    .product-price-row{
        flex-direction: column;
    }
    .product-price{
        margin-bottom: 12px;
        height: 45px;
       
    }
    .home-banner-box :first-child{
        font-size: 40px;
    }
    .home-banner-box :last-child{
        font-size: 16px;
    }
    .main-content{
       flex-direction: column;
        align-items: center;
        height: auto;
    }
    .main-content-img{
        width: 100%;
    }
    .main-content-msg{
        width: 100%;
        padding: 30px 18px;
        margin-bottom: 4px;
    }
    
    .group2 .main-content-msg{
        border: 6px #eacda2 solid;
    }
    
}


